.label-container {
    display: flex;
    color: black;
    justify-content: center;
    text-align: center;
}

.individual-label {
    padding: 2px 41px;
    /* transition: all 1s ; */
    
}

.activeTab {
    background-color: skyblue;
    animation-name: tabAnimation;
    animation-duration:.4s;
}

@keyframes tabAnimation {
    0% {
        background-color: skyblue;
        transform:translateX(0px);
        rotate: 7deg;
    }

    50%{
       
    }

    100% {
        background-color: skyblue;
        transform:translateX(10px);
        rotate: -4deg;
    }
}